.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 1em; */
}

.device-container{
  width: 375px;
  height: 812px;
  /* background-color: whitesmoke; */
  background: #D38312;  
  background: -webkit-linear-gradient(to right, #A83279, #D38312); 
  background: linear-gradient(to right, #A83279, #D38312); 
  border-radius: 1em;
}

